# Build
build/
dist/
*.spec

# Python
__pycache__/
*.pyc
*.pyd

# Virtual environment
.venv/
src/scope/__pycache__/__init__.cpython-313.pyc
src/scope/__pycache__/__init__.cpython-313.pyc
src/scope/__pycache__/scope_engine.cpython-313.pyc
